<footer id="footer" class="bg-dark text-center text-white">
      <div class="bg-dark text-center text-white">
        <p>
            Adresse : 200 Avenue de la République, 92000 Nanterre
        </p>
      </div>
      <div class="bg-dark text-center text-white">
        <p>
            Contactez nous sur hightechstore@hightech.fr.
        </p>
    </div>
</footer>