<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">HighTech Store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/"> Home </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ordinateurs
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="Categorie/pc">Tous</a>
          <a class="dropdown-item" routerLink="Categorie/pcportable">PC Portable</a>
          <a class="dropdown-item" routerLink="Categorie/pcbureautique">PC de Bureau</a>
          <a class="dropdown-item" routerLink="Categorie/pcaccessoires">Accessoires</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Telephonie
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="Categorie/telephone">Tous</a>
          <a class="dropdown-item" routerLink="Categorie/smartphone">Smartphone</a>
          <a class="dropdown-item" routerLink="Categorie/telephonefixe">Fixe</a>
          <a class="dropdown-item" routerLink="Categorie/telephoneaccessoires">Accessoires</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Stockage
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="Categorie/stockage">Tous</a>
          <a class="dropdown-item" routerLink="Categorie/disquedur">Disques durs</a>
          <a class="dropdown-item" routerLink="Categorie/cleusb">Clé usb</a>
          <a class="dropdown-item" routerLink="Categorie/stockageaccessoires">Accessoires</a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="logged">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
          Administration
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="Ajout">Ajouter article</a>
        </div>
      </li>
    </ul>
    <a class="btn btn-info" *ngIf="!logged" routerLink="/Connexion">Connexion</a>
    <button class="btn btn-danger" *ngIf="logged" on-click="disconnect()">Déconnexion</button>
  </div>
</nav>