<div>
    <p>Le nom de l'article est <span>{{nom_Article}}</span></p>
    <p>La taille de l'article est <span>{{taille_Article}}</span></p>
    <p>La couleur de l'article est <span>{{couleur_Article}}</span></p>
    <span>{{message}}</span><br/>
</div>
<button [disabled]="confirmation" on-click="OnAchatArticle()" class="btn btn-info">Achat Article</button>