<div class="container mb-5">
    <h1>{{nomComplet}}</h1>
<div class="row">
    <div *ngFor="let article of list" class="col-md-4">
        <div class="jumbotron">
            <img class="fit-picture" src="{{article.photo}}" alt="photo" height="200" width="200">
            <hr class="my-4">
            <h2 class="display-4">{{article.libelle}}</h2>
            <p class="lead">marque : {{article.marque}}, prix : {{article.prix}} €</p>
            <a class="btn btn-primary btn-lg" routerLink="/Article/{{article.id}}">Voir</a>
        </div>
    </div>
</div>
</div>