<div class="container">
    <div class="card card0">
        <div class="row justify-content-center my-auto">
            <div class="col-md-8 col-10 my-5">
                <form #connexionForm="ngForm" (ngSubmit)="connexion(connexionForm)">
                    <h3 class="mb-5 text-center heading">HighTech Store</h3>
                    <h6 class="msg-info">Please login to your account</h6>
                    <div *ngIf="error=='error'" class="alert alert-danger" role="alert">
                        Identifiant ou mot de passe incorrect.
                    </div>
                    <div class="form-group"> <label class="form-control-label text-muted">Username</label> <input
                            type="text" id="email" #email="ngModel" name="email" placeholder="Email"
                            class="form-control" ngModel email required>
                    </div>
                    <div class="text-danger" *ngIf="email.errors?.required && email.touched" role="alert">
                        Email required
                    </div>
                    <div class="form-group"> <label class="form-control-label text-muted">Password</label> <input
                            #passwd="ngModel" type="password" id="passwd" name="passwd" placeholder="Password"
                            class="form-control" ngModel passwd required minlength="8"> </div>
                    <div class="text-danger" *ngIf="passwd.errors?.minlength && passwd.touched" role="alert">
                        minlenght required is 8 characters
                    </div>
                    <div class="row justify-content-center my-3 px-3"> <button type="submit"
                            class="btn-block btn-color" [disabled]="connexionForm.invalid">Login to
                            HighTech
                            Store</button> </div>
                </form>
            </div>
        </div>
    </div>
</div>