<div class="container">
    <form #ajoutForm="ngForm" (ngSubmit)="ajout(ajoutForm)">
        <h3 class="mb-5 text-center heading">Ajouter un article</h3>
        <div *ngIf="result=='success'" class="alert alert-success" role="alert">
            Article ajouté avec succes
        </div>
        <div *ngIf="result=='failure'" class="alert alert-danger" role="alert">
            Echec de l'ajout
        </div>
        <div class="form-group">
            <label class="form-control-label">libelle</label>
            <input type="text" id="libelle" #libelle="ngModel" name="libelle" placeholder="Libelle" 
            class="form-control" ngModel libelle required>
        </div>
        <div class="form-group">
            <label class="form-control-label">marque</label>
            <input type="text" id="marque" #marque="ngModel" name="marque" placeholder="Marque" 
            class="form-control" ngModel marque required>
        </div>
        <div class="form-group">
            <label class="form-control-label">prix</label>
            <input type="number" id="prix" #prix="ngModel" name="prix" placeholder="100" 
            class="form-control" ngModel prix required>
        </div>
        <div class="form-group">
            <label class="form-control-label">photo</label>
            <input type="text" id="photo" #photo="ngModel" name="photo" placeholder="Photo" 
            class="form-control" ngModel photo required>
        </div>
        <div class="form-group">
            <label for="categorie">Categorie</label>
            <select class="form-control" id="categorie" #categorie="ngModel" name="categorie" placeholder="Categorie" ngModel categorie required>
              <option *ngFor="let cat of categories" value="{{cat.id}}">{{cat.nomComplet}}</option>
            </select>
          </div>
        <button type="submit" class="btn btn-primary" [disabled]="ajoutForm.invalid">
            Ajouter Article
        </button>
    </form>
</div>