<div class="container">
    <form #modifForm="ngForm" (ngSubmit)="modif(modifForm)">
        <h3 class="mb-5 text-center heading">Modifier un article</h3>
        <div *ngIf="result=='success'" class="alert alert-success" role="alert">
            Article modifié avec succes
        </div>
        <div *ngIf="result=='failure'" class="alert alert-danger" role="alert">
            Echec de la modification
        </div>
        <div class="form-group">
            <label class="form-control-label">libelle</label>
            <input type="text" id="libelle" #libelle="ngModel" name="libelle" placeholder="Libelle" 
            class="form-control" value="{{modifArticle.libelle}}" ngModel libelle>
        </div>
        <div class="form-group">
            <label class="form-control-label">marque</label>
            <input type="text" id="marque" #marque="ngModel" name="marque" placeholder="Marque" 
            class="form-control" value="{{modifArticle.marque}}" ngModel marque>
        </div>
        <div class="form-group">
            <label class="form-control-label">prix</label>
            <input type="number" id="prix" #prix="ngModel" name="prix" placeholder="100" 
            class="form-control" value="{{modifArticle.prix}}" ngModel prix >
        </div>
        <div class="form-group">
            <label class="form-control-label">photo</label>
            <input type="text" id="photo" #photo="ngModel" name="photo" placeholder="Photo" 
            class="form-control" value="{{modifArticle.photo}}" ngModel photo>
        </div>
        <div class="form-group">
            <label for="categorie">Categorie</label>
            <select class="form-control" id="categorie" #categorie="ngModel" name="categorie" placeholder="Categorie" ngModel categorie >
              <option *ngFor="let cat of categories" [selected]="cat.id == idCategorie" value="{{cat.id}}">{{cat.nomComplet}}</option>
            </select>
          </div>
        <button type="submit" class="btn btn-primary">
            Ajouter Article
        </button>
    </form>
</div>