<div class="container mt-4">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-8">
                <button class="btn btn-info" on-click="cancel()">Retour</button>
            </div>
            <div class="col-md-2">
                <a class="btn btn-warning text-right" *ngIf="logged" routerLink="/Modif/{{id}}">Modifier</a>
            </div>
            <div class="col-md-2">
                <button class="btn btn-danger" *ngIf="logged" on-click="delete()">Supprimer</button>
            </div>
        </div>
        <hr class="my-4">
        <img class="fit-picture" src="{{article.photo}}" alt="photo"  height="200" width="200"/>
        <hr class="my-4">
        <h2 class="display-4">{{article.libelle}}</h2>
        <p class="lead">marque : {{article.marque}}, prix : {{article.prix}} €</p>
    </div>
</div>